<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Jump_Throw_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,0},{310,459}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{67,36},{310,459}}</string>
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>

			<key>Jump_Throw_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,918},{300,460}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{67,36},{300,460}}</string>
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>

			<key>Jump_Throw_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,452},{316,457}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{52,37},{316,457}}</string>
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>

			<key>Jump_Throw_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1355},{355,456}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,34},{355,456}}</string>
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>

			<key>Jump_Throw_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,902},{361,452}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,34},{361,452}}</string>
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>

			<key>Jump_Throw_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{365,451}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,34},{365,451}}</string>
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>

			<key>Jump_Throw_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,452},{362,449}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,36},{362,449}}</string>
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>

			<key>Jump_Throw_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,1355},{334,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{43,35},{334,450}}</string>
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>

			<key>Jump_Throw_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,929},{306,453}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{67,35},{306,453}}</string>
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>

			<key>Jump_Throw_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{990,460},{305,457}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{67,35},{305,457}}</string>
				<key>sourceSize</key>
				<string>{425,497}</string>
			</dict>

			<key>Jump_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{997,1383},{304,473}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{64,49},{304,473}}</string>
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>

			<key>Jump_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1299,461},{293,503}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{50,40},{293,503}}</string>
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>

			<key>Jump_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1302,965},{289,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,38},{289,476}}</string>
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>

			<key>Jump_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1302,1442},{288,475}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,38},{288,475}}</string>
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>

			<key>Jump_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1302,1442},{288,475}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,38},{288,475}}</string>
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>

			<key>Jump_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1302,1442},{288,475}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{30,38},{288,475}}</string>
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>

			<key>Jump_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,460},{309,468}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,38},{309,468}}</string>
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>

			<key>Jump_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1296,0},{294,460}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{31,38},{294,460}}</string>
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>

			<key>Jump_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,1383},{305,456}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,36},{305,456}}</string>
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>

			<key>Jump_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,1383},{305,456}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,36},{305,456}}</string>
				<key>sourceSize</key>
				<string>{399,543}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>